<div class="container">
  <div>
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
    <div class="add-members-container">
      <input type="text" #memberName name="name" placeholder="name" (input)="getnameMember(memberName.value)" [value]="newMemberName">
      <button (click)="addMember()">Add</button>
    </div>
    <div class="generate-teams-container">
      <input type="text" placeholder="# of teams">
      <button>Generate</button>
    </div>
    <!--Mostramos el mensaje de error en caso de ser necesario-->
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
  </div>
</div>